{% extends "layout.html" %}

{% block body %}
    <div id="app">

        <h1>Distance, tempo or time calculator</h1>


        <div id="calculator-container">
            <h2>Swimming</h2>
            {% with form=form_swim, container_id='calculator-swimming', action_url=url_for('calculate_swim') %}
                {% include 'general/calculator.html' %}
            {% endwith %}

            <h2>Running</h2>
            {% with form=form_run, container_id='calculator-running', action_url=url_for('calculate_run') %}
                {% include 'general/calculator.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
